.header-section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;

  background-image: url(../images/header_1x.jpg);
  background-position: 13% 80%;
}

.header__title {
  color: $header_color;
}
