.about-section {
  padding: 90px 70px;
  width: 910px;
}
.about__main-info {
  margin-bottom: 60px;
}

.about__profesion-title {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 10px;
}
.about__title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.9;

  margin-bottom: 20px;
}

.about__text {
  font-family: 'Raleway', sans-serif;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.16;

  font-style: italic;
}
